.w-card {
    width: 100px;
    height: 135px;
}

.card {
    padding: 0.5rem !important;
}

.size-file-card {
    font-size: 5em;
}

.w-p-card {
    max-width: 80px;
}

.w-p-card-icon {
    max-width: 60px;
}

.pe-auto {
    cursor: pointer !important;
}

.size-icon-card {
    font-size: 11px;
    width: 19%;
}

.bg-trash {
    color: red;
}

.img-card-file {
    width: 98px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
    margin-bottom: 8px;
}

.img-visualicer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 600px;
    min-height: 400px;
}