.w-card{
    width: 100px;
    height: 135px;
}

.card{
    padding: 0.5rem !important;
}

.size-file-card{
    font-size: 5em;
}

.w-p-card{
    max-width: 80px;
}

.w-p-card-icon{
    max-width: 60px;
}

.pe-auto{
    cursor: pointer !important;
}

.size-icon-card{
    font-size: 11px;
    width: 19%;
}

.bg-trash{
    color: red;
}