
.flex-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.layout-sidebar{
    animation-duration: 2s !important;
    width: 100vw;
}

.layout-expand{
    visibility: hidden;
    width: -0vw !important;
}

.expand-menu{
    width: 120vw ;
    margin-left: -22vw;
}



.dark-mode {
    background-color: black !important;
    color: white;

    span {
        color: white !important; 
    }

  
  }


  .body-dark {
    background-color: rgb(22, 22, 22) !important;  
}  





  .dark-mode-button {
    background-color: black !important;
    color: white;
    
    :hover {
        background-color: black !important;
        color: white; 
    }

    ul {
        background-color: black !important;
        color: azure !important;
    }


    li {
        background-color: black !important;
        color: azure !important;
    }


  }

@media (min-width:1500px){
    .expand-menu{
        max-width: 118vw !important;
        margin-left: -19vw !important;
    }
        
}

.upload-file{
    position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 508px;
  height: 60px;
  border: 2px dashed rgb(6, 88, 194);
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width:1800px){
    .expand-menu{
        max-width: 115vw !important;
        margin-left: -15vw !important;
    }
}



